<!DOCTYPE html>
{% load segno_qr %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Maker</title>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }
        #qrcode {
            margin: 20px auto;
        }
        input, button {
            padding: 10px;
            font-size: 16px;
            margin: 5px;
        }
        button {
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Please add your URL for qrcode creation:</h1>
{% include "qr_form.html" %}
</body>
</html>
